@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Londrina+Solid:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

.tituloSeccion {
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Sigmar One', cursive;
  color: #6e8f6e;
  padding: 1rem 0;
}

#arriba {
  position: fixed;
  bottom: 20px;
  right: 2%;
  font-size: 40px;
}

#arriba a {
  text-decoration: none;
  color: rgba(66, 141, 56, 0.753);
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

.noscroll {
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: #6e8f6e;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-height: 80px;
}

.navbar .nav-link {
  margin-left: 5px;
}

.navbar .nav-link, .navbar .navbar-brand {
  color: #ffbdbd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .nav-link:hover {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.navbar .navbar-brand img {
  height: 40px;
}

.navbar--scroll {
  border-bottom: 1px solid rgba(10, 9, 9, 0.836);
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 30px;
  height: 6px;
  background: #ffbdbd;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  background: #ffbdbd;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(-35px, 35px);
  transform: rotate(45deg) translate(-35px, 35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(-35px, -35px);
  transform: rotate(-45deg) translate(-35px, -35px);
}

footer {
  background-color: #6e8f6e;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pie .pieLogo, .pie .pieSlogan, .pie .pieRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
}

.pie .pieLogo img {
  height: 40px;
}

.pie .pieSlogan {
  font-size: 18px;
}

.pie .pieRedes {
  font-size: 40px;
}

.pie .pieRedes a {
  text-decoration: none;
  color: black;
}

.pie .pieRedes a:hover {
  color: #333;
}

.pie .pieRedes .fa-instagram, .pie .pieRedes .fa-facebook-square, .pie .pieRedes .fa-whatsapp {
  margin-right: 10px;
}

.copy {
  margin-top: 20px;
}

.copy h6 {
  font-size: 14px;
  display: inline;
  border-top: 1px solid #000;
}

@media all and (min-width: 768px) {
  .pie .pieLogo, .pie .pieSlogan, .pie .pieRedes {
    width: 33%;
  }
  .pie .pieLogo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .pie .pieRedes {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#tienda {
  width: 100%;
  padding: 100px 0;
  padding-bottom: 20px;
  background-color: #f5eeee;
  text-align: center;
}

#dropdownsProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 2rem;
}

#productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 1.5rem;
}

#avisoCarrito {
  display: none;
  min-width: 220px;
  margin-left: -110px;
  background-color: #6e8f6e;
  color: #ffe6e6;
  text-align: center;
  padding: 16px;
  font-size: 14px;
  position: fixed;
  border: 4px dashed black;
  left: 50%;
  bottom: 0px;
}

.imgVacio {
  width: 200px;
}

.itemCarrito {
  padding: 10px 5%;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-bottom: 1px solid #c9c6c6;
}

.itemCarrito__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.itemCarrito__imagen img {
  width: 100px;
  height: 100px;
  border: 4px solid #6e8f6e;
  border-radius: 15%;
}

.itemCarrito__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.itemCarrito__info .itemCarrito__cantPrec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

.itemCarrito__info .itemCarrito__cantPrec .itemCantidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.itemCarrito__info .itemCarrito__cantPrec .itemPrecio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.itemCarrito__info .itemCarrito__cantPrec .itemBorrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.itemCarrito__info .itemCarrito__cantPrec .itemBorrar button {
  background-color: #e64b4b;
}

.itemBtn {
  width: 25px;
  height: 25px;
  background-color: #6e8f6e;
  border-radius: 15%;
  color: white;
  margin: 10px;
  padding: 0;
}

#arriba {
  position: fixed;
  bottom: 20px;
  right: 2%;
  font-size: 40px;
}

#arriba a {
  text-decoration: none;
  color: rgba(66, 141, 56, 0.753);
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

@media all and (min-width: 452px) {
  .itemCarrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .itemCarrito__imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
  }
  .itemCarrito__imagen img {
    width: 100px;
  }
  .itemCarrito__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
  }
  .itemCarrito__info .itemCarrito__cantPrec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .itemCarrito__info .itemCarrito__cantPrec .itemCantidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .itemCarrito__info .itemCarrito__cantPrec .itemPrecio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1.5;
        -ms-flex-positive: 1.5;
            flex-grow: 1.5;
  }
}

@media all and (min-width: 992px) {
  .itemCarrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .itemCarrito__imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%;
  }
  .itemCarrito__imagen img {
    width: 100px;
    height: 100px;
  }
  .itemCarrito__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
  }
  .itemCarrito__info .itemTitulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  .itemCarrito__info .itemCarrito__cantPrec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .itemCarrito__info .itemCarrito__cantPrec .itemCantidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .itemCarrito__info .itemCarrito__cantPrec .itemPrecio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1.5;
        -ms-flex-positive: 1.5;
            flex-grow: 1.5;
  }
}

.producto {
  width: 270px;
  text-align: center;
  margin: 1rem;
  background-color: #e9dfdf;
  -webkit-box-shadow: 0px 0px 2px 2px #c9c0c6;
          box-shadow: 0px 0px 2px 2px #c9c0c6;
  border-radius: 5px;
  padding: 1em;
}

.producto__nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.producto__nombre h3 {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 5px 0;
  color: #1D2C36;
}

.producto__borde {
  border-top: 5px solid #6e8f6e;
  margin-bottom: 10px;
}

.producto .carousel-item img {
  width: 200px;
  height: 200px;
  border-radius: 15%;
  overflow: hidden;
  border: 4px solid #c4b9b9;
}

.producto__precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto__precio.precio {
  font-weight: 500;
  font-size: 1.5rem;
  color: #6e8f6e;
}

.producto__precio.sinStock {
  font-style: italic;
  text-decoration: line-through;
  color: #d62e2e;
}

.producto button {
  border-color: #6e8f6e;
  background-color: #6e8f6e;
}

.producto:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #3f3b3e;
          box-shadow: 0px 0px 5px 5px #3f3b3e;
}

#carrito {
  padding: 100px 5%;
  background-color: #d8ebd0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #6e8f6e;
}

table thead {
  font-size: 16px;
}

table tbody {
  font-size: 14px;
}

table th, table td {
  padding: 1%;
}

.accordion {
  background-color: #6e8f6e;
  color: black;
  cursor: pointer;
  padding: 20px 1%;
  width: 100%;
  text-align: left;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 30px 0 5px 0;
}

.desplegable {
  padding: 5px;
  display: none;
  overflow: hidden;
}

.active {
  display: block;
}

.btnForm {
  margin-top: 3px;
  background-color: #6e8f6e;
  border-radius: 5px;
  padding: 5px 10px;
}

.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.radios div {
  width: 100%;
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.datos div {
  width: 100%;
}

@media all and (min-width: 768px) {
  .datos div {
    width: 50%;
  }
}

.carousel-item img {
  width: 200px;
  height: 200px;
  border-radius: 15%;
  overflow: hidden;
  border: 4px solid #c4b9b9;
}

.flecha {
  font-size: 30px;
}

.modal-body ul {
  list-style-position: inside;
}

.btnsCarrito {
  margin: 10px;
}

.msjCarrito a {
  text-decoration: none;
  color: white;
}

.btn {
  margin: 1px;
}

@-webkit-keyframes fadeInCarrito {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeInCarrito {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutCarrito {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeOutCarrito {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */