@keyframes fadeInCarrito {
    from {
        bottom: 0; 
        opacity: 0;
    }
    to {
        bottom: 30px; 
        opacity: 1;
    }
}
  
@keyframes fadeOutCarrito {
    from {
        bottom: 30px; 
        opacity: 1;
    }
    to {
        bottom: 0; 
        opacity: 0;
    }
}