//Carousel de productos//
.carousel-item img{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    overflow: hidden;
    border: 4px solid #c4b9b9;
  } 
  
  .flecha{
    font-size: 30px;
  }