#containerTienda{
  width: 100%;
  padding: 100px 0;
  padding-bottom: 20px;
  background-color: #f5eeee;
  text-align: center;
}

#productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 1.5rem;
}


.producto {
  width: 270px;
  text-align: center;
  margin: 1rem;
  background-color: #e9dfdf;
  box-shadow: 0px 0px 2px 2px #c9c0c6;
  border-radius: 5px;
  padding: 1em;

  &__nombre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    h3 {
      font-weight: 500;
      font-size: 1.3rem;
      margin: 5px 0;
      color: #1D2C36;
    }
  }   
  &__borde {
    border-top: 5px solid $verde;
    margin-bottom: 10px; 
  }
  .producto__precio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
  
    p {
      font-weight: 500;
      font-size: 1.5rem;
      color: $verde; 
    }

    .noStock{
      color:red;
    }
  }
  button{
    border-color: $verde;
    background-color: $verde;
  }

  .sinStock{
    text-decoration: line-through;
  }
}   

.producto:hover{
  box-shadow: 0px 0px 5px 5px #3f3b3e;
}

#dropdownsProductos{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 2rem 2rem;
}

.msjCarrito button {
  margin: 10px;
}

.msjCarrito a {
  text-decoration: none;
  color: white;
}
.producto .botonesCantidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.producto .botonesCantidad .botones{
  width: 30px;
  height: 30px;
  border-radius: 10%;
}

.producto .botonesCantidad p {
  font-size: 20px;
  font-family: 'Londrina Solid', cursive;
}

.producto .botonesCantidad #cantidad {
  padding: 0 5px;
  border: 3px solid #6e8f6e;
  text-align: center;
}

.btn{
  margin: 1px;
}


#avisoCarrito {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#avisoCarrito.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}