#tienda {
  width: 100%;
  padding: 100px 0;
  padding-bottom: 20px;
  background-color: #f5eeee;
  text-align: center;
}

#dropdownsProductos{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 2rem 2rem;
}
  
#productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 1.5rem;
}

#avisoCarrito {
  display: none;
  min-width: 220px; 
  margin-left: -110px; 
  background-color: $verde; 
  color: $rosa; 
  text-align: center;
  padding: 16px; 
  font-size: 14px;
  position: fixed; 
  border: 4px dashed black;
  left: 50%; 
  bottom: 0px;
}

.imgVacio{
  width: 200px;
}

.itemCarrito{
  padding: 10px 5%;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #c9c6c6;
  &__imagen{
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    img{
      width: 100px;
      height: 100px;
      border: 4px solid $verde;
      border-radius: 15%;
    }
  }
  &__info{
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    .itemCarrito__cantPrec{
      display:flex;
      flex-flow: row nowrap;
      width: 100%;
      .itemCantidad{
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 40%;
        
      }
      .itemPrecio{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 40%;
      }
      .itemBorrar{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 20%;
        button{
          background-color: rgb(230, 75, 75);
        }
      }
    }
  }
}

.itemBtn{
  width: 25px;
  height: 25px;
  background-color: $verde;
  border-radius: 15%;
  color:white;
  margin: 10px;
  padding: 0;
}

#arriba {
  position: fixed;
  bottom: 20px;
  right: 2%;
  font-size: 40px;
}

#arriba a {
  text-decoration: none;
  color: rgba(66, 141, 56, 0.753);
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

@media all and (min-width: 452px){
  .itemCarrito{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    
    &__imagen{
      display:flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 30%;
      img{
        width: 100px;
      }
    }
    &__info{
      display:flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 70%;
      .itemCarrito__cantPrec{
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        .itemCantidad{
          display:flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          flex-grow: 2;
        }
        .itemPrecio{
          display:flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          flex-grow: 1.5;
        }
      }
    }
  }
}

@media all and (min-width: 992px){
  .itemCarrito{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    
    &__imagen{
      display:flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 15%;
      img{
        width: 100px;
        height: 100px;
      }
    }
    &__info{
      display:flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 85%;
      .itemTitulo{
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 50%;
      }
      .itemCarrito__cantPrec{
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 50%;
        .itemCantidad{
          display:flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          flex-grow: 2;
        }
        .itemPrecio{
          display:flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          flex-grow: 1.5;
        }
      }
    }
  }
}

